# Data Cleaning Exercise

Today we will look at Chicago Public School data from the [Chicago Data Portal](https://data.cityofchicago.org/). 

We will use it to practice:
   - Importing Data into a dataframe
   - Subsetting
   - Dropping and filling na's
   - Creating new features

In [85]:
import pandas as pd
import numpy as np

import sys
from src.student_caller import one_random_student
from src.student_list import student_first_names

pd.set_option('display.max_columns', None)

In [86]:
# import the csv 'sy201819_school_profile' from the data folder. 
# Set the index to the column 'Unnamed: 0'

sy_201819 = None

In [87]:
one_random_student(student_first_names)

Svitlana

In [88]:
#__SOLUTION__
sy_201819 = pd.read_csv('data/sy201819_school_profile.csv', index_col="Unnamed: 0")

In [89]:
# print out the head of the dataframe
sy_201819.head()

,school_id,legacy_unit_id,finance_id,short_name,long_name,primary_category,is_high_school,is_middle_school,is_elementary_school,is_pre_school,summary,administrator_title,administrator,secondary_contact_title,secondary_contact,address,city,state,zip,phone,fax,cps_school_profile,website,facebook,attendance_boundaries,grades_offered_all,grades_offered,student_count_total,student_count_low_income,student_count_special_ed,student_count_english_learners,student_count_black,student_count_hispanic,student_count_white,student_count_asian,student_count_native_american,student_count_other_ethnicity,student_count_asian_pacific,student_count_multi,student_count_hawaiian_pacific,student_count_ethnicity_not,statistics_description,demographic_description,dress_code,prek_school_day,kindergarten_school_day,school_hours,after_school_hours,earliest_drop_off_time,classroom_languages,bilingual_services,title_1_eligible,preschool_inclusive,preschool_instructional,transportation_bus,transportation_el,school_latitude,school_longitude,overall_rating,rating_status,rating_statement,classification_description,school_year,third_contact_title,third_contact_name,network,is_gocps_participant,is_gocps_prek,is_gocps_elementary,is_gocps_high_school,open_for_enrollment_date,twitter,youtube,pinterest,college_enrollment_rate_school,college_enrollment_rate_mean,graduation_rate_school,graduation_rate_mean,significantly_modified,transportation_metra,fourth_contact_title,fourth_contact_name,fifth_contact_title,fifth_contact_name,seventh_contact_title,seventh_contact_name,refugee_services,visual_impairments,freshman_start_end_time,sixth_contact_title,sixth_contact_name,hard_of_hearing
0,609966,3750,23531,HAMMOND,Charles G Hammond Elementary School,ES,False,True,True,True,Hammond creates a challenging learning environ...,Principal,Ms.Anamaria Orbe,Asst Principal,Nicole McConnell,2819 W 21ST PL,Chicago,Illinois,60623,7.735355e+09,7.735355e+09,https://www.cps.edu/schools/schoolprofiles/609966,https://cps.edu/hammond,https://www.facebook.com/Charles-G-Hammond-Sch...,True,"PK,K,1,2,3,4,5,6,7,8","PK,K-8",342,336,63,132,33,304,2,0,0,0,0,3,0,0,There are 342 students enrolled at HAMMOND. 9...,The largest demographic at HAMMOND is Hispanic...,False,Full and Half Day,Full Day,07:30 AM-02:30 PM,2:30 pm - 5:30 pm,7:30 am,Spanish,True,True,Y,Y,"21, 94",Pink,41.852719,-87.696243,Level 1,GOOD STANDING,"This school received a Level 1 rating, which i...",Schools that have an attendance boundary. Gene...,School Year 2019-2020,Clerk,Migdalia Nikolic,Network 7,True,False,True,False,2004-09-01T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,400069,4150,67081,POLARIS,Polaris Charter Academy,ES,False,True,True,False,Polaris is committed to helping students becom...,Director,Michelle Navarre,Other,Francesca Peck,620 N SAWYER AVE,Chicago,Illinois,60624,7.735341e+09,7.735347e+09,https://www.cps.edu/schools/schoolprofiles/400069,https://pcachicago.org,https://www.facebook.com/PolarisCharterAcademy,False,"K,1,2,3,4,5,6,7,8",K-8,378,343,64,8,337,33,5,0,0,0,0,3,0,0,There are 378 students enrolled at POLARIS. 9...,The largest demographic at POLARIS is Black. ...,True,NaN,Full Day,7:50 am-4:00 pm,4:00 pm-6:00 pm,07:20 AM,NaN,NaN,True,NaN,NaN,NaN,NaN,41.892550,-87.707796,Level 2,NOT APPLICABLE,"This school received a Level 2 rating, which i...","Schools that are open to all Chicago children,...",School Year 2019-2020,Office Manager,Robin Alexander,Charter,False,False,False,False,2007-07-01T00:00:00.000,https://twitter.com/PolarisCA,https://www.youtube.com/channel/UCHblvjecJ7Bp2...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,610191,6070,29291,STONE,Stone Elementary Scholastic Academy,ES,False,True,True,False,"Stone Academy offers full-day kindergarten, al...",Principal,James Joseph Brandon,Assistant Principal,Kate Nestler,6239 N LEAVITT ST,Chicago,Illinois,60659,7.735342e+09,7.735342e+09,https://www.cps.edu/schools/schoolprofiles/610191,http://stoneacademy.net/,NaN,False,"K,1,2,3,4,5,6,7,8",K-8,607,319,52,121,142,98,171,166,2,0,0,26,2,0,There are 607 students enrolled at STONE. 52....,The largest demographic at STONE is White. Th...,True,NaN,Full Day,8:00 AM - 3:00 PM,NaN,NaN,NaN,True,False,NaN,NaN,"49B, 84",Brown,41.995359,-87.684793,Level 1+,GOOD STANDING,"This school received a Level 1+ rating, which ...",Schools that specialize in a specific subject ...,School Year 2019-2020,NaN,NaN,Network 2,True,False,True,False,2004-09-01T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,400173,9648,66801,PATHWAYS - BRIGHTON PARK HS,Pathways in Education- Brighton Park,HS,True,False,False,False,NaN,Principal,Nicholas F Perez,NaN,NaN,3124 W 47TH ST,Chicago,Illinois,60632,7.735791e+09,7.735791e+09,https://www.cps.edu/schools/schoolprofiles/400173,https://pathwaysineducation.org,https://www.facebook.com/PathwaysInEducationIL,False,"9,10,11,12",9-12,408,341,42,67,12,378,14,3,1,0,0,0,0,0,There are 408 students enrolled at PATHWAYS - ...,The largest demographic at PATHWAYS - BRIGHTON...,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.808226,-87.702645,Level 2+,NOT APPLICABLE,"This school received a Level 2+ rating, which ...",Schools that have their own processes for enro...,School Year 2019-2020,NaN,NaN,Options,False,False,False,False,2014-07-01T00:00:00.000,https://twitter.com/pathwaysil,NaN,https://www.pinterest.com/PieIllinois/,19.4,67.2,11.3,78.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,610153,5670,25191,RYDER,William H Ryder Math & Science Specialty ES,ES,False,True,True,True,Our mission is to provide rigorous data driven...,Principal,Aaron Rucker,Assistant Principal,Darnell Garner,8716 S WALLACE ST,Chicago,Illinois,60620,7.735354e+09,7.735354e+09,https://www.cps.edu/schools/schoolprofiles/610153,https://ryderschool.org,NaN,True,"PK,K,1,2,3,4,5,6,7,8","PK,K-8",402,360,116,3,396,4,1,0,0,0,0,1,0,0,There are 402 students enrolled at RYDER. 89....,The largest demographic at RYDER is Black. Th...,True,Half Day,Full Day,08:45 AM-03:45 PM,NaN,NaN,NaN,NaN,True,NaN,Y,"24, 87",Red,41.735379,-87.638843,Level 1,GOOD STANDING,"This school received a Level 1 rating, which i...",Schools that have an attendance boundary. Gene...,School Year 2019-2020,Technology Coordinator,Montell Pinkston,Network 11,True,False,True,False,2004-09-01T00:00:00.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,Rock Island District (RI),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We will only be using the columns which appear in the mask below.

In [90]:
column_mask = ['school_id',
               'primary_category',
               'grades_offered_all',
               'student_count_total',
               'student_count_low_income',
               'student_count_special_ed',
               'student_count_english_learners',
               'graduation_rate_school',
               'dress_code',
               'classroom_languages',
               'network',
               'graduation_rate_mean'
              ]

Use the mask to isolate the columns of interest.

In [91]:
# Your code here

In [92]:
one_random_student(student_first_names)

Christos

In [93]:
#__SOLUTION__
sy_201819 = sy_201819[column_mask]

We will only be working with high schools. 

Subset the dataframe to include only schools whose `primary_category` indicated high school.

In [94]:
# Your code here
sy_201819_hs = None

In [95]:
one_random_student(student_first_names)

Christos

In [96]:
#__SOLUTION__
sy_201819_hs = sy_201819[sy_201819['primary_category'] == 'HS']

# NA's

In [97]:
# Count the na's across all columns of the high school dataframe

In [98]:
one_random_student(student_first_names)

Christos

In [99]:
#__SOLUTION__
sy_201819_hs.isna().sum()

school_id                          0
primary_category                   0
grades_offered_all                 0
student_count_total                0
student_count_low_income           0
student_count_special_ed           0
student_count_english_learners     0
graduation_rate_school            36
dress_code                         2
classroom_languages               41
network                            5
graduation_rate_mean              36
dtype: int64

There are several ways to deal with na's. We will explore:
  
  - Dropping any row which has an na in it
  - Interporlating the mean value into the na
  
Only use `inplace=True` in the second instance so we can explore both methods successively.

## Dropping any row which has an `NaN` in it

In [100]:
# Your code here

In [101]:
# How many records were lost using this method?

In [102]:
one_random_student(student_first_names)

Joe

In [103]:
#__SOLUTION__
sy_201819_hs.dropna()

print(sy_201819_hs.shape[0] - sy_201819_hs.dropna().shape[0])

55

## Interporlating the mean value to fillna

Let's work with the graduation_rate_school column.  

Take the value in the `graduation_rate_mean` and fill na's in `graduation_rate_school` with it.

In [104]:
# Your code here

In [105]:
one_random_student(student_first_names)

Jamie

In [106]:
#__SOLUTION__
sy_201819_hs['graduation_rate_school'].fillna(sy_201819_hs['graduation_rate_mean'].min(), inplace=True)

/Users/johnmaxbarry/anaconda3/lib/python3.7/site-packages/pandas/core/series.py:4523: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

We will return to the classroom_languages na's in a moment.

# Creating New Features

Create a column called `percent_low_income` which is the number of low income students divided by total student count.

In [107]:
# Your answer here

In [108]:
one_random_student(student_first_names)

Marcos

In [109]:
#__SOLUTION__
sy_201819_hs['percent_low_income'] = sy_201819_hs['student_count_low_income']/sy_201819_hs['student_count_total']

/Users/johnmaxbarry/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Create a column which counts the number of classroom languages offered in a school.

In [110]:
# To help do so, we will first, replace na's in the column with the string None
sy_201819_hs['classroom_languages'].fillna('None', inplace=True)

Next, use apply and a lambda function to split each cell's strings on the comma.

In [111]:
# Your code here

sy_201819_hs['classroom_languages_count'] = None

/Users/johnmaxbarry/.local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [112]:
#__SOLUTION__
sy_201819_hs['classroom_languages_count'] = sy_201819_hs['classroom_languages'].apply(lambda x: x.split(','))

/Users/johnmaxbarry/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Now, use a second apply on classroom_languages_count and pass the built in operator `len`

In [113]:
# Your Code Here

In [114]:
one_random_student(student_first_names)

Svitlana

In [115]:
#__SOLUTION__
sy_201819_hs['classroom_languages_count'] = sy_201819_hs['classroom_languages_count'].apply(len)

/Users/johnmaxbarry/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [116]:
sy_201819_hs.head()

,school_id,primary_category,grades_offered_all,student_count_total,student_count_low_income,student_count_special_ed,student_count_english_learners,graduation_rate_school,dress_code,classroom_languages,network,graduation_rate_mean,percent_low_income,classroom_languages_count
3,400173,HS,"9,10,11,12",408,341,42,67,11.3,False,None,Options,78.9,0.835784,1
11,609704,HS,"9,10,11,12",559,555,145,159,68.9,True,"Spanish, Spanish for Heritage Speakers",Network 16,78.9,0.992844,2
17,609734,HS,"7,8,9,10,11,12",3644,1871,447,334,83.9,False,"Arabic, French, Korean, Polish, Spanish, Spani...",Network 14,78.9,0.513447,6
21,400106,HS,"9,10,11,12",607,571,142,3,72.0,True,Spanish,Charter,78.9,0.940692,1
33,609750,HS,"6,7,8,9,10,11,12",31,30,6,3,78.9,False,Spanish,Network 15,NaN,0.967742,1

Convert dress_code from a boolean to a binary using `.map`.

Hint: `.map` takes a dictionary with keys representing the extant data and values representing what you want to replace them with.

In [ ]:
# Your code here

In [121]:
one_random_student(student_first_names)

Marcos

In [120]:
#__SOLUTION__
sy_201819_hs['dress_code'].map({True: 1, False: 0, np.nan: 0} )

3      0
11     1
17     0
21     1
33     0
      ..
635    1
636    1
637    1
639    0
653    1
Name: dress_code, Length: 176, dtype: int64

As a bonus challenge, create a  column `students_per_grade` which divides the total number of students by the number of grades offered

In [117]:
# Your code here

In [118]:
#__SOLUTION__
sy_201819_hs['students_per_grade'] = sy_201819_hs['grades_offered_all'].apply(lambda x: x.split(','))
sy_201819_hs['students_per_grade'] = sy_201819['student_count_total']/sy_201819_hs['students_per_grade'].apply(len)

/Users/johnmaxbarry/.local/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/johnmaxbarry/.local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until